<table class="table">
    <thead>
        <tr>
            <th *ngFor="let header of headers" [ngStyle]="{ 'min-width' : header.width + 'px'}">
                <div class="w-100 h-100 d-flex align-items-center justify-content-between ps-1">
                    <div>

                        {{ header.title }}

                        <!-- sort  -->
                        <ng-container *ngIf="header.sortable">
                        <schedule-table-sort-column [header]="header"> 
                        </schedule-table-sort-column>
                        </ng-container>

                    </div>

                    <!-- filter -->
                    <ng-container *ngIf="header.filterable">
                        <schedule-table-filter-column class="filter-column" [header]="header">
                        </schedule-table-filter-column>
                    </ng-container>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="h-100 w-100">
        <tr *ngFor="let row of tableService.finalDataSource; let i = index" [ngStyle]="{ 'height' : rowHeight + 'px'}">
            <td *ngFor="let header of headers" class="cell">
                <ng-container *ngIf="header.dynamicCellComponent" [column]="header" [row]="row"
                    [onRowEvent]="onRowEvent" [component]="header.dynamicCellComponent" dynamicCell>
                </ng-container>
                <ng-container *ngIf="!header.dynamicCellComponent">
                    <div class="d-flex justify-content-start align-items-center">
                        {{ row[header.key] }}
                    </div>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>