<progress-bar *ngIf="loading"></progress-bar>

<table class="table w-100 mb-0">
    <thead>
        <tr class="d-flex">
            <th class="th" *ngFor="let header of headers; let i = index" [ngClass]="header.className || ''"
                [ngStyle]="{ 'min-width' : header.width + 'px' }">
                <div>

                    <!-- title -->
                    <span class="user-none">
                        {{ header.title }}
                    </span>

                    <!-- sort  -->
                    <schedule-table-sort-column *ngIf="header.sortable" [header]="header">
                    </schedule-table-sort-column>

                </div>
                <div class="d-flex h-100 align-items-center justify-content-between">

                    <!-- filter -->
                    <schedule-table-filter-column *ngIf="header.filterable" class="filter-column" [header]="header">
                    </schedule-table-filter-column>

                    <!-- resize -->
                    <div class="resizer" [attr.id]="header.key" (mousedown)="resizeColumn_onMouseDown($event ,i)">
                    </div>

                </div>

            </th>
        </tr>
    </thead>
</table>

<cdk-virtual-scroll-viewport itemSize="50" class="h-100 w-100" (scrolledIndexChange)="scroll_onChange()">
    <table>
        <ng-container *ngIf="tableService.finalDataSource.length === 0; else dataHasLength">
            <div class="empty-container">
                <div class="empty-row">
                    <img src="assets/svg/empty.svg" alt="" class="empty-row-icon">
                    <p class="empty-row-text">No Data!</p>
                </div>
            </div>
        </ng-container>
        <ng-template #dataHasLength>
            <tbody class="h-100 w-100 overflow-auto">
                <ng-container *cdkVirtualFor="let row of tableService.finalDataSourceAsObs; trackBy: trackById">
                    <tr [ngStyle]="{ 'height' : rowHeight + 'px'}">
                        <td *ngFor="let header of headers" class="cell" [ngClass]="header.className || ''"
                            [attr.id]="header.key" [ngStyle]="{ 'min-width' : header.width + 'px' }">
                            <ng-container *ngIf="header.dynamicCellComponent" [column]="header" [row]="row"
                                [onRowEvent]="onRowEvent" [component]="header.dynamicCellComponent" dynamicCell>
                            </ng-container>
                            <ng-container *ngIf="!header.dynamicCellComponent">
                                <div class="d-flex justify-content-start align-items-center">
                                    {{ row[header.key] }}
                                </div>
                            </ng-container>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </ng-template>
    </table>
</cdk-virtual-scroll-viewport>