thead {
    position: sticky;
    top: 0;
}

th {
    background: #8e8e8e;
    font-size: 14px;
    color: white;
    border-right: 1px solid #b5b5b5;
    min-width: 200px;
    height: 55px;
}

tbody {
    min-height: 300px;
}

.cell {
    border-right: 1px solid #b5b5b5;
}

::ng-deep .popover-body {
    height: 150px;
    width: 274px;
}

.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
}

.empty-row {
    display: flex;
    flex-direction: column;
    height: 40px;
    position: fixed;
    left: 45%;

    &-icon {
        height: 50px;
        padding-bottom: 0;
    }

    &-text {
        color: #C3C3C3;
    }
}

/* @todo: refactor loading styles */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
}

.loader {
    width: 108px;
    height: 16px;
    background:
        radial-gradient(circle 8px at 8px center, #b5b5b5 100%, transparent 0),
        radial-gradient(circle 8px at 8px center, #b5b5b5 100%, transparent 0);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    position: fixed;
    left: 45%;
    animation: ballX 1s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #b5b5b5;
    inset: 0;
    margin: auto;
    animation: moveX 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
}

@keyframes ballX {

    0%,
    25%,
    50%,
    75%,
    100% {
        background-position: 25% 0, 75% 0
    }

    40% {
        background-position: 25% 0, 85% 0
    }

    90% {
        background-position: 15% 0, 75% 0
    }
}

@keyframes moveX {
    100% {
        transform: translate(0.15px)
    }
}

.resizer {
    height: 100%;
    width: 6px !important;
    cursor: ew-resize;
}

.table> :not(caption)>*>* {
    padding: 0 0 0 5px !important;
}