<span class="filter" [ngbPopover]="popoverContent" [autoClose]="false" #popover="ngbPopover">
    <img class="filter-icon" src="assets/filter.svg" alt="filter">
</span>

<ng-template #popoverContent>
    <div class="d-flex flex-column justify-content-between w-100 h-100">
        <div class="form-floating mb-3">
            <input [formControl]="formControl" (keypress)="handleKeyPress($event)" class="form-control" id="containsInput">
            <label for="containsInput">Contains</label>
        </div>
        <div class="d-flex w-100">
            <button type="button" class="btn btn-primary w-50 mx-1"
                (click)="saveFilter_onClick()">
                Save
            </button>
            <button type="button" class="btn btn-light w-50 mx-1" (click)="clearFilter_onClick()">
                Clear
            </button>
        </div>
    </div>
</ng-template>